body {
  background-color: #fffee5;
  color: #606c76;
  letter-spacing: 0.03rem;
  text-transform: lowercase;
  line-height: 1.5;

  min-height: 100vh;
  padding: 1rem;

  user-select: none;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #606c76;
    color: #fffee5;
  }
}

body > div {
  margin: 0 auto;
  max-width: 600px;
  margin-bottom: 12rem;
}

@media (min-width: 600px) {
  body {
    padding: 2rem;
  }

  body > div {
    margin-bottom: 4px;
  }
}

section {
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 2rem;
}

p {
  margin-bottom: 1rem;
}

body > div > section {
  line-height: 1.2;
  margin: 2rem 0;
}

body > div > section h1 {
  font-size: 3rem;
}

@media (min-width: 400px) {
  .intro h1 {
    font-size: 3.5rem;
  }
}

a:focus {
  outline: 1px solid currentColor;
  border-radius: 4px;
}

section ul a {
  transition: letter-spacing ease 250ms, opacity ease 250ms;
}

section ul a:hover {
  opacity: 0.8;
  letter-spacing: 0.04rem;
}

ul {
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}
