*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
  font-family: sans-serif;

  overflow-x: hidden;
  font-size: 16px;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  transition-timing-function: ease-in-out;
  position: relative;
}

h1, h2, h3, h4, h5, h6, div, p {
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: circle;
  margin: 0;
  padding: 0;
}
